/* Error: expected "{".
 *    ,
 * 50 |   padding: 1rem 1.5rem;
 *    |                       ^
 *    '
 *   .history\public\styles\main_20220601154951.scss 50:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 50 \2502    padding: 1rem 1.5rem;\d\a    \2502                        ^\a    \2575 \a   .history\\public\\styles\\main_20220601154951.scss 50:23  root stylesheet';
}
