@import '../globalStyling/layout';

body {
  background: $primary-bg;
}

main {
  grid-template-columns: 20rem 1fr 30rem;
  align-items: center;
  grid-gap: 4rem;
  padding: 0 4rem;
}

.grid {
  display: grid;
}

// ---- Main Nav ----
// Nav list
