/* Error: expected "{".
 *    ,
 * 45 | console.log(age >= 18 ? "I like to drink wine" : "I like to drink water");
 *    |                                                                          ^
 *    '
 *   .history\public\styles\main_20220528214129.scss 45:74  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 45 \2502  console.log(age >= 18 ? "I like to drink wine" : "I like to drink water");\a    \2502                                                                           ^\a    \2575 \a   .history\\public\\styles\\main_20220528214129.scss 45:74  root stylesheet';
}
