// Form Button
.btn-form {
  width: 4rem;
  height: 4rem;
  background: inherit;
  color: $gray-light;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.2s;

  &:hover {
    color: $gray;
  }
}

.btn-s {
  width: 4rem;
  height: 4rem;
  background: $white;
  color: $gray;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: $box-shadow;
  transition: 0.2s;
}

.btn-2xl {
  background: $purple;
  border
  font-size: $font-14;
}