// Form Button
.btn-form {
  width: 4rem;
  height: 4rem;
  background: inherit;
  color: $gray-light;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.2s;

  &:hover {
    color: $gray;
  }
}

.btn-s {
  width: 4rem;
  height: 4rem;
  background: $white;
  color: $gray;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: $box-shadow;
  transition: 0.2s;
}

.btn-2xl {
  width: 100%;
  max-width: 18rem;
  background: $purple;
  padding: 1rem 2rem;
  color: $white;
  border-radius: 1rem;
  font-size: $font-14;
}

// ---- Icons ----
.icon-box {
  width: 4rem;
  height: 4rem;
  background: $purple-light;
  color: $purple;
  border-radius: 1rem;
  @include flex-jc-ic()
}