// Form Button
.btn-form {
  width: 4rem;
  height: 4rem;
  background: inherit;
  color: $gray-light;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.btn-s {
  width: 4rem;
  height: 4rem;
  background: $white;
  color: $gray;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  
}