.h1 {
  font-size: 3rem;
  font-weight: 600;
  color: $text-color;
}

.h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: $text-color;
}

.h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: $text-color;
}

// Text
.text-14 {
  font-size: 1.6rem;
}

.text-16-500 {
  font-size: 1.6rem;
  font-weight: 500;
}