// ---- Text input ----
.txt-form {
  width: 20rem;
  height: 4rem;
  background: $white;
  border-radius: 1rem;
  box-shadow: $box-shadow;

  display: flex;
  .txt-input {
    width: 100%;
    background: inherit;
    border-radius: inherit;
    &:placeholder {
      color: $gray-light;
    }
  }
}

// ---- Modal ----
.modal {
  position: relative;
  background: $purple-light;
  padding: 8rem 1rem 2rem 1rem;
  margin-top: 10rem;
  border-radius: 1.5rem;
  text-align: center;

  .image-box {
    position: absolute;
    top: -10rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: $font-12;
  }

  .btn-2xl {
    margin-top: 2rem;
  }
}

// ---- Cards ----
.card-item-x {
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: auto repeat(2, 1rem) 3rem;
  gap: ;
  background: $purple-light;
  padding: 1rem;
  border-radius: 1.5rem;

  // Image
  .image-box {
    grid-column: 1/-1;
    background: $purple;
    border-radius: 1rem;
  }

  h3 {
    grid-column: 1/-1;
  }

  p {
    grid-column: 1/-1;
  }

  // Profiles
  .profiles-container {
    position: relative;
    grid-column: 1/2;
    @include flex-jc-ic();

    .image-box-xs {
      position: absolute;

      &--first {
        left: 0;
        background: #94e0c8;
      }

      &--middle {
        left: 2.5rem;
        background: #ffe5cb;
      }

      &--last {
        left: 5rem;
        background: #c9e3f7;
      }
    }
  }

  .btn-s {
    grid-column: 2/3;
  }
}

// ---- Image Box ----
.image-box-xs {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  background: #e5f3fe;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}
