// ---- Text input ----
.txt-form {
  width: 20rem;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.107);

  display: flex;
  .txt-input {
    width: 100%;
    &:placeholder {
      color: $gray-light;
    }
  }
}