// ---- Text input ----
.txt-form {
  width: 20rem;
  height: 4rem;
  background: $white;
  border-radius: 1rem;
  box-shadow: $box-shadow;

  display: flex;
  .txt-input {
    width: 100%;
    
    &:placeholder {
      color: $gray-light;
    }
  }
}