// ---- Text input ----
.txt-form {
  width: 20rem;
  height: 4rem;
  background: $white;
  border-radius: 1rem;
  box-shadow: $box-shadow;

  display: flex;
  .txt-input {
    width: 100%;
    background: inherit;
    border-radius: inherit;
    &:placeholder {
      color: $gray-light;
    }
  }
}

// ---- Modal ----
.modal {
  position: relative;
  background: $purple-light;
  padding: 8rem 1rem 2rem 1rem;
  margin-top: 10rem;
  border-radius: 1.5rem;
  text-align: center;

  .image-box {
    position: absolute;
    top: -10rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: $font-12;
  }

  .btn-2xl {
    margin-top: 2rem;
  }
}

// ---- Cards ----
.card-item-x {
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: 11.2rem 2rem 5rem 4rem;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;

  // Image
  .image-box {
    grid-column: 1/-1;
    // height: 11.2rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  h3 {
    grid-column: 1/-1;
  }

  p {
    grid-column: 1/-1;
  }

  // Profiles
  .profiles-container {
    position: relative;
    grid-column: 1/2;
    @include flex-jc-ic();

    .image-box-xs {
      position: absolute;

      &--first {
        left: 0;
        background: #94e0c8;
      }

      &--middle {
        left: 2.5rem;
        background: #ffe5cb;
      }

      &--last {
        left: 5rem;
        background: #c9e3f7;
      }
    }
  }

  .btn-s {
    grid-column: 2/3;
    color: $white;
    box-shadow: none;
  }
}

// Progress card
.card-item-m {
  width: 100%;
  grid-template-columns: 4.2rem 1fr 1rem;
  grid-template-rows: repeat(2, auto);
  background: $white;
  padding: 1.5rem;
  border-radius: 1rem;
  transition: 0.2s;
  box-shadow: $box-shadow;
  cursor: pointer;

  .progress-container {
    grid-row: 1/-1;
    position: absolute;
    
  }

  // Progress
  #progress-1 {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 4rem;
    height: 0.7rem;
    accent-color: $purple;
    -webkit-appearance: none;

    &::-webkit-progress-bar {
      background-color: $purple-light;
      border-radius: 2rem;
    }

    &::-webkit-progress-value {
      border-radius: 2rem;
      background-color: $purple;
    }
  }
  // title
  .progress-title {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  // tasks
  .progress-tasks {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  // arrow
  .card-item-m-icon {
    grid-column: 3/-1;
    grid-row: 1/-1;
  }

  &:hover {
    background: $purple;
    p,
    i {
      color: $white;
    }

    #progress-1 {
      &::-webkit-progress-bar {
        background-color: #c4b7f8;
      }

      &::-webkit-progress-value {
        background-color: $white;
      }
    }
  }
}

// ---- Image Box ----
.image-box-xs {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  background: #e5f3fe;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.image-box-xl {
  width: 10rem;
  height: 10rem;
  background: $purple-light;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

// ---- Link Color ----
.link-m {
  color: $purple;
  font-size: $font-14;
}
