// ---- Text input ----
.txt-form {
  width: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 4rem 0.5rem rgba(0, 0, 0, 0.047);

  display: flex;
  .txt-input {
    width: 100%;
    &:placeholder {
      color: $gray-light;
    }
  }
}