// ---- Text input ----
.txt-form {
  width: 20rem;
  height: 4rem;
  background: $white;
  border-radius: 1rem;
  box-shadow: $box-shadow;

  display: flex;
  .txt-input {
    width: 100%;
    background: inherit;
    border-radius: inherit;
    &:placeholder {
      color: $gray-light;
    }
  }
}

// ---- Modal ----
.modal {
  position: relative;
  background: $purple-light;
  padding: 8rem 1rem 2rem 1rem;
  margin-top: 10rem;
  border-radius: 1.5rem;
  text-align: center;

  .image-box {
    position: absolute;
    top: -10rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: $font-12;
  }

  .btn-2xl {
    margin-top: 2rem;
  }
}

// ---- Cards ----
.card-item-x {
  width: 20rem;
  background: $purple-light;
  padding: 1rem;
  border-radius: 1.5rem;

  // Image
  .image-box {
    background: $purple;
    border-radius: 1rem;
  }

  // h3, p {
  //   margin-top: 1rem;
  // }

  // Profiles
  .profiles-container {
    // width: 8rem;
    position: relative;
    @include flex-jc-ic();

    .image-box-xs {
      position: absolute;
      // padding: 0.1rem;

      &--first {
        left: 0;
      }

      &--middle {
        left: 2.5rem;
        background: red;
      }

      &--last {
        left: 5rem;
        background: green;
      }
    }
  }
}

// ---- Image Box ----
.image-box-xs {
  width: 3rem;
  min-width: 3rem;
  background: #e5f3fe;
  border-radius: 50%;
}